.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
}

.linkholder {
  display: grid;
}

a {
  text-decoration: none;
}

.header {
  display: grid;
  grid: 1fr 1fr / 2fr 1fr;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "cardholder annoucements"
  "cardholder annoucements"
  "cardholder trending";
}

.cardholder {
  display: grid;
  grid: 1fr 1fr/ 1fr  1fr;
  grid-area: cardholder;
}

.annoucements {
  grid-area: annoucements;
}

.trending {
  grid-area: trending;
}