
.maingrid {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 2fr;
  grid-template-rows: minmax(150px, 300px) 1fr;
}

.sidebar {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1  /  span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: red;
}

.main {
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  background-color: red;
  

}